.logo{
    
    width: 80px;
    /* position:fixed; */
    left: 20px;
    margin-right: 10px;
}
.avatar{
    width: 30px;
    position: fixed;
    right: 20px;

}
.navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    height: 30px;
    padding: 20px;
    /* justify-content: space-between; */
    background-color: #111;
}
.buttonn{
    /* height: 50px; */
    margin-right: 10px;
    justify-content: space-between;
    position:left;
}
.h1{
    background-color: blueviolet;
}